@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Montserrat:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
}

.flow-start-wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.flow-start-container {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  background-color: #F4EAD5;
  padding: 20px;
  flex: 1;
  box-sizing: border-box;
  border-right: 5px solid #036264;
  border-left: 5px solid #036264;
  border-top: 5px solid #036264;
}

.image-collage {
  margin-bottom: 20px;
}

.collage-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.text-center {
  text-align: center;
}

.custom-button {
  background-color: #3f3f3f; /* Slate gray */
  color: #e0829d; /* Lavender */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

.custom-button:hover {
  background-color: #e0829d;
  color: #3f3f3f;
}

.arc-info {
  text-align: left;
  margin-top: 20px;
}
