
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

body {
  font-family: 'Cursive', sans-serif;
}

.home-container {
  text-align: center;
  color: #262b15;
  background-color: #F4EAD5; /* Papyrus paper */
  padding: 20px;
}

.peace-lotus {
  max-width: 25%;
  height: auto;
  margin: 20px 0;
  border: 5px solid #036264;
  border-radius: 15px;
}

.content {
  background-color: #F4EAD5; /* Papyrus paper */
  padding: 20px;
  border-radius: 10px;

  color: #262b15; /* Darker text color */
  margin: 20px auto;
  max-width: 800px; /* Optional: Limit the width of the content for better readability */
}

.page-title {

    font-family: 'Dancing Script', cursive;
  color: #e0829d; /* Lavender */
  text-align: center;
  margin: 20px 0;
  padding: 0;
  border: none;
  background: none;

}


button {
  background-color: #3f3f3f; /* Slate gray */
  color: #e0829d; /* Lavender */
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.Home-button {
  background-color: #3f3f3f; /* Slate gray */
  color: #e0829d; /* Lavender */
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 30px;
}

.Home-button:hover {
  background-color: #036264;
  color: #fff;
}
